<app-navbar [newSavedRecipe]="savedRecipesAlert"></app-navbar>
<div class="container-flex detail-container">
  <div
    class="recipe-container d-flex align-items-center justify-content-center"
    *ngIf="recipe"
  >
    <div class="recipe row">
      <div class="col-12 col-lg-6 bg-white d-flex">
        <div
          class="content d-flex flex-column justify-content-between position-relative"
        >
          <img
            src="/assets/images/arrow-left.svg"
            class="position-absolute content__arrow"
            (click)="goBack()"
          />
          <div class="position-absolute d-flex align-items-center icons">
            <img
              src="/assets/images/share-icon.svg"
              class="icons__share"
              (click)="shareRecipe()"
            />
            <fa-icon
              [icon]="saveIcon"
              class="icons__save"
              (click)="saveOrDeleteSavedRecipe()"
              *ngIf="!recipeIsSaved"
            ></fa-icon>
            <fa-icon
              [icon]="savedIcon"
              class="icons__save"
              (click)="saveOrDeleteSavedRecipe()"
              *ngIf="recipeIsSaved"
            ></fa-icon>
            <div
              class="position-absolute d-flex justify-content-center icons__alert"
              *ngIf="urlIsCopiedAlert"
            >
              Copied link to recipe!
            </div>
            <div
              class="position-absolute d-flex justify-content-center icons__alert save"
              *ngIf="savedRecipesAlert"
            >
              Saved recipe! Check it in Saved Recipes.
            </div>
          </div>
          <div class="content__title" *ngIf="!isMobile">
            {{ recipe.name | uppercase }}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="content__cuisine">
              <div>
                <img
                  src="/assets/images/flag-icon.svg"
                  class="content__cuisine-flag pe-3"
                />{{ recipe.cuisine }}
              </div>
              <div>
                <img
                  src="/assets/images/difficult-icon.svg"
                  class="content__cuisine-difficult pe-3"
                />{{ recipe.difficulty }}
              </div>
            </div>
            <div class="d-flex align-items-center">
              <app-star-rating [rate]="rate" class="pe-3"></app-star-rating>
              <div class="content__rating">{{ recipe.rating }}</div>
            </div>
          </div>
          <div>
            <div class="content__ingridients mb-3">
              Ingridients: {{ recipe.ingridients | space }}
            </div>
            <div class="content__instructions">
              {{ recipe.instructions | space }}
            </div>
          </div>
          <div class="d-flex justify-content-around content__numbers my-4">
            <div
              class="d-flex flex-column align-items-center content__numbers-container"
            >
              <div class="content__numbers-number">
                {{ recipe.timeToPrepare }}
              </div>
              <div class="content__numbers-text">PREPARE</div>
            </div>
            <div class="content__line"></div>
            <div
              class="d-flex flex-column align-items-center content__numbers-container"
            >
              <div class="content__numbers-number">{{ recipe.cookTime }}</div>
              <div class="content__numbers-text">COOK</div>
            </div>
            <div class="content__line"></div>
            <div
              class="d-flex flex-column align-items-center content__numbers-container"
            >
              <div class="content__numbers-number">{{ recipe.servings }}</div>
              <div class="content__numbers-text">SERVINGS</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 p-0 position-relative d-flex justify-content-center image"
      >
        <img [src]="recipe.imageUrl" class="image__recipe" alt="recipe image" />
        <div class="gradient-box position-absolute"></div>
        <div class="image__title position-absolute" *ngIf="isMobile">
          {{ recipe.name | uppercase }}
        </div>
      </div>
    </div>
  </div>
</div>
