<div class="d-flex flex-column">
  <div
    class="recipe-container d-flex position-relative"
    *ngFor="let recipe of recipes" [routerLink]="['/detail', recipe.id]"
  >    
    <div class="d-flex p-4 content">
      <img [src]="recipe.imageUrl" class="image col-4" />
      <div
        class="ms-4 d-flex justify-content-between flex-column"
      >
      <div>
        <h2 class="content__title">{{ recipe.name | uppercase }}</h2>
        <div></div>
      </div>
        <div class="content__text d-flex flex-column lh-base">
          <span>Cuisine: {{ recipe.cuisine }} </span>
          <span> Total time to prepare: {{ recipe.timeToPrepare }} min</span>
          <span>Difficulty evel: {{ recipe.difficulty | lowercase }}</span>
        </div>
        <div class="d-flex mt-2">
          <div class="me-3 content__tag" *ngFor="let tag of recipe.tags">
            {{ tag | lowercase }}
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-end flex-grow-1">
        <div *ngFor="let mealType of recipe.mealType" class="meal-type" [ngClass]="getMealTypeClassInTemplate(mealType)">{{ mealType }}</div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-grow-1 justify-content-center align-items-center pagination">
    <div class="d-flex align-items-center justify-content-center pagination__button" (click)="getPreviousPage(currentPage)">
      <fa-icon [icon]="previousIcon" size="xs"></fa-icon>
    </div>
    <div class="pagination__current-page mx-3">page {{ currentPage }} of {{ totalNumberOfPages }}</div>
    <div class="d-flex align-items-center justify-content-center pagination__button" (click)="getNextPage(currentPage)">
      <fa-icon [icon]="nextIcon" size="xs"></fa-icon>
    </div>
  </div>
</div>
