<main class="main">
  <div class="container-flex">
    <div class="d-flex flex-column justify-conent-start filters my-5 mx-3">
      <input type="text" placeholder="search the meal" class="rounded-pill" />
      <div class="d-flex justify-content-between">
        <div class="d-flex mt-3 " *ngFor="let mealType of mealTypes; let last = last">
          <div class="d-flex">
            <div  class="meal-type d-flex" [style.marginRight.px]="last ? 0 : 30">
              <span>{{ mealType }}</span> 
            </div>
            <span *ngIf="!last" class="separator"> | </span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-2 col-lg-4"></div>
      <app-recipes-list class="col-10 col-lg-8"></app-recipes-list>
    </div>
  </div>
  
</main>
