<main class="main">
  <div class="container-flex">
    <div class="d-flex flex-column justify-conent-start filters my-5 p-5">
      <div class="d-flex position-relative">
        <input
          type="text"
          placeholder="search the meal by name"
          class="flex-grow-1 py-2 ps-2"
          (input)="onInputEvent()"
          #searchInput
        />
        <div
          class="position-absolute clear-all"
          (click)="deleteMealTypeFilter(); clearFilterInput('')"
          *ngIf="searchInput.value"
        >
          <img src="assets/images/cross_icon.svg" class="clear-all__icon" alt="clear icon">
        </div>
      </div>
      <div class="d-flex justify-content-between flex-wrap meal-type-container">
        <div
          class="d-flex mt-3 position-relative"
          *ngFor="let mealType of mealTypes; let last = last"
        >
          <div class="d-flex meal-type">
            <span
              [ngStyle]="{ 'margin-right.px': last ? 0 : undefined }"
              (click)="changeRecipesByMealType(mealType)"
              [ngClass]="{ active: clickedMealType === mealType }"
              >{{ mealType }}
            </span>
            <img src="assets/images/cross-icon-dark.svg" class="clear-icon position-absolute" *ngIf="clickedMealType === mealType" (click)="deleteMealTypeFilter(); clearFilterInput('')" alt="clear meal type icon">
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex">
      <div class="row">
        <div class="col col-md-3 col-lg-4">
          <div class="text">CHOOSE RECIPE TO SEE THE DETAILS</div>
        </div>
        <div class="col">
          <app-recipes-list
            [filterInputValue]="searchInput.value"
            [isMealTypeChoosed]="isMealTypeChoosed"
            (clearFilterInputValue)="clearFilterInput($event)"
          ></app-recipes-list>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
