@import "/src/variables.scss";

input {
    outline: none;
    border: none;
}

.clear {
    color: white;
}

.meal-type {
    font-weight: 300;
    font-size: 18px;
}

.custom {

    @media (max-width: 768px) {
        grid-column-gap: 50px;
    }
}

.separator {
    flex: 1;
    text-align: center;
}

.text {
    font-size: 80px;
    font-size: 600;
    color: $text-primary;
}