<main class="main">
  <div class="container-flex">
    <div class="d-flex flex-column justify-conent-start filters my-5 mx-3">
      <div class="d-flex">
        <input
          type="text"
          placeholder="search the meal"
          class="rounded-pill flex-grow-1"
          (input)="
            getFilterInputValue(searchInput.value); deleteMealTypeFilter()
          "
          #searchInput
        />
        <div class="ms-4 d-flex justify-content-center align-items-center" (click)="deleteMealTypeFilter(); clearFilterInput()">
          <fa-icon [icon]="clearIcon" class="clear" size="2x"></fa-icon>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div
          class="d-flex mt-3"
          *ngFor="let mealType of mealTypes; let last = last"
        >
          <div class="d-flex">
            <div
              class="meal-type d-flex"
              [style.marginRight.px]="last ? 0 : 30"
            >
              <span (click)="changeRecipesByMealType(mealType)">{{
                mealType
              }}</span>
            </div>
            <!-- <span *ngIf="!last" class="separator"> | </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex">
      <div class="row">
        <div class="col col-2 col-lg-4 d-none d-md-block">
          <div class="text lh-1 ms-3">MEAL MEAL MEAL</div>
        </div>
        <div class="col">
          <app-recipes-list
            [filterInputValue]="filterInputValue"
            [isMealTypeChoosed]="isMealTypeChoosed"
            [isMealTypeDeleted]="isMealTypeDeleted"
            [meals]="meals"
          ></app-recipes-list>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
