<nav>
  <div class="landing-page d-flex">
    <div class="position-absolute logo">LOGO</div>
    <div class="col-6 d-flex">
      <div class="position-absolute title-container">
        <h1 class="title">LOOOOONG TITLE</h1>
        <h4 class="title-add">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero totam
          aspernatur, natus eos quo beatae voluptatum nisi adipisci, nemo
          perspiciatis aut laborum suscipit illo quia enim doloremque ad at
          amet.
        </h4>
      </div>
    </div>
    <div class="landing-image col-6"></div>
    <div class="position-absolute option d-flex">
      <div>option</div>
      <div>option</div>
    </div>
  </div>
</nav>
