<nav>
  <div class="landing-page d-flex justify-content-between">
    <div class="position-absolute logo">LOGO</div>
    <div class="col-6 d-flex">
      <div class="position-absolute title-container">
        <h1 class="title">LOOOOONG TITLE</h1>
        <h4 class="title-add">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero totam
          aspernatur, natus eos quo beatae voluptatum nisi adipisci, nemo
          perspiciatis aut laborum suscipit illo quia enim doloremque ad at
          amet.
        </h4>
      </div>
    </div>
    <div class="d-flex justify-conent-end align-items-end carousel position-relative">
      <a routerLink="/detail/{{currentRecipe?.id}}">
      <img [src]="currentRecipe?.imageUrl" class="carousel__image"></a> 
      <div class="carousel__name position-absolute ms-3">{{ currentRecipe?.name | uppercase }}</div>
    </div>
    <div class="position-absolute option d-flex">
      <div (click)="scrollToRecipesList('recipesList')">RECIPES</div>
      <div>option</div>
    </div>
  </div>
</nav>
<router-outlet id="recipesList"></router-outlet>
