@import "/src/variables.scss";

.landing-page {
  width: 100%;
  min-height: 100vh;
}

.logo {
  top: 40px;
  left: 40px;
}

.option {
  top: 40px;
  right: 40px;
  gap: 40px;
}

.title-container {
  top: 35vh;
  left: 10vh;
  z-index: 1;
}

.title {
  font-size: 75px;
  color: $text-primary;
}

.title-add {
  max-width: 600px;
  color: $text-primary;
}

.carousel {
  overflow: hidden;

  & &__image {
    height: 100vh;
    // animation: animation 4s ease-in-out 1;
    object-fit: cover;
    object-position: center;
  }

  & &__name {
    font-size: 50px;
    z-index: 0;
    color: $text-primary;
  }
}


@keyframes animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
