@import "/src/variables.scss";

.landing-page {
  width: 100%;
  min-height: 100vh;
}

.logo {
  top: 40px;
  left: 40px;
}

.option {
  top: 40px;
  right: 40px;
  gap: 40px;
}

.title {
  top: 35vh;
  left: 10vh;
  z-index: 1;

  & &__main {
    font-size: 75px;
    color: $text-primary;
  }

  & &__add {
    max-width: 600px;
    color: $text-primary;
  }
}

.dot-container {
    display: flex;
    position: absolute;
    left: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    border: solid white 1px;
    border-radius: 50%;
}

.carousel {
  overflow: hidden;
  transition: transform 0.1s linear;

  & &__image {
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  & &__arrow-left {
    top: 60%;
    left: 10px;
  }

  & &__arrow-right {
    top: 60%;
    right: 10px;
  }

  & &__name {
    font-size: 50px;
    z-index: 0;
    color: $text-primary;
  }
}
